.Dropdown-menu {
    display: none;
    visibility: hidden;
}
.menu-item-head {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    visibility: visible;
    display: inline-block;
}

@media (max-width:600px) and (min-width:4px) {
    .Dropdown-menu {
        display: none;
        visibility:visible;
    }
    
    .menu-item-head {
        visibility: hidden;
    }
    .Navbar-view {
        display: none
    }
}