.price {
  font-size: 70px;
}
.button {
  border-radius: 20px;
  color: #00d563;
  width: 160px;
  height: 40px;
}

@media (max-width: 2466px) and (min-width: 600px) {
  .mobile-price-view {
    width: 330px;
  }
}

@media (max-width: 600px) and (min-width: 4px) {
  .mobile-price-view {
    width: 200px;
  }
}

.capacity {
  background: yellowgreen;
  border-radius: 50%;
  animation: capacity 2s infinite;
  -moz-animation: capacity 2s infinite; /* Firefox */
  -webkit-animation: capacity 2s infinite; /* Safari and Chrome */
}

@keyframes capacity {
  0% {
    background: #006500;
  }
  100% {
    background: yellowgreen;
  }
}
